<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.systekcn.guide">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <!-- android:supportsRtl="true" -->
        <activity
            android:name=".activity.DrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus">
        </activity>
        <activity
            android:name=".activity.CompactHeaderDrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".activity.PersistentDrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme.Light.TranslucentStatus" />
        <activity
            android:name=".activity.ActionBarActivity"
            android:theme="@style/MaterialDrawerTheme.ActionBar" />
        <activity
            android:name=".activity.MenuDrawerActivity"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus" />
        <activity
            android:name=".activity.NonTranslucentDrawerActivity"
            android:theme="@style/MaterialDrawerTheme" />
        <activity
            android:name=".activity.MultiDrawerActivity"
            android:theme="@style/MaterialDrawerTheme.TranslucentStatus" />
        <activity
            android:name=".activity.AdvancedActivity"
            android:theme="@style/MaterialDrawerTheme.TranslucentStatus" />
        <activity
            android:name=".activity.KeyboardUtilActivity"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.EmbeddedDrawerActivity"
            android:theme="@style/MaterialDrawerTheme" />
        <activity
            android:name=".activity.MiniDrawerActivity"
            android:theme="@style/MaterialDrawerTheme" />
        <activity
            android:name=".activity.FullscreenDrawerActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.CustomContainerActivity"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar" />
        <activity
            android:name=".activity.FragmentActivity"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar" />
        <activity
            android:name=".activity.CollapsingToolbarActivity"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus" />
        <activity
            android:name=".activity.CrossfadeDrawerLayoutActvitiy"
            android:theme="@style/MaterialDrawerTheme" />


        <activity android:name=".activity.BeginActivity"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CityChooseActivity"
            android:theme="@style/FullscreenTheme">
        </activity>
    </application>

</manifest>
